
<div class="container mb-5">
    <form id="send-form" class="form-inline text-center" method="POST" action="/send/submit">
      <input class="form-control mr-3" name="word" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-dark" type="submit">Buscar</button>
    </form>
</div>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">url</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts">
        <td><img src="{{post}}"/></td>
      </tr>
    </tbody>
  </table>
